section#about {
   display: grid;
   margin-bottom: calc(var(--margin) * 2);
}
section#about .name {
   position: relative;
   width: 100%;
   font-size: var(--font-s-b);
   text-align: center;
   padding: var(--gap);
}
section#about .description {
   position: relative;
   display: block;
   margin: auto;
   padding: var(--gap);
   font-size: calc(var(--font-s-m) * 0.8);
   text-align: center;
   width: min(70svw, 600px);
}