section#work {
   position: relative;
}
section#work #projects {
   position: relative;
   width: 100%;
   padding: var(--margin);
   display: flex;
   flex-direction: column;
   gap: calc(var(--margin) * 2);
}
section#work #projects .category-name {
   position: relative;
   width: 100%;
   padding: var(--gap);
   display: grid;
   place-items: center;
   font-size: var(--font-s-b);
}
section#work #projects .cards {
   position: relative;
   width: 100%;
   height: auto;
   display: grid;
   gap: calc(var(--margin) * 2);
   grid-template-columns: repeat(auto-fill, var(--card-w));
   justify-content: center;
}
section#work #projects .cards .card {
   position: relative;
   width: 100%;
   height: var(--card-h);
   border-radius: var(--card-r);
   overflow: hidden;
}
section#work #projects .cards .card .thumbnail {
   position: relative;
   height: 100%;
   width: 100%;
}
section#work #projects .cards .card .thumbnail img {
   position: absolute;
   width: 100%;
   height: 100%;
}